*,*::after,*::before{
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,500;1,600&display=swap');

body, html{
    margin: 0px;
    padding: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
}

h3, h6{
    margin: 0px;
    padding: 0px;
}

.header-img-background{
    height: 45rem;
    height: 37vw;
    background-image: url("cover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-menu{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:2rem;
}

.logo{
    cursor: pointer;
    transition: 200ms ease-in-out;
    width: 20rem;
}

.header-img-container .logo:hover{
    transform: scale(1.1);
}

.header-options{
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.74);
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
}

.header-options ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-options li{
    list-style: none;
    position: relative;
    margin:0px 1rem;
    cursor: pointer;
    
}

.header-options li::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: -2px;
    left: 0px;
    transform: scaleX(0);
    transition: 200ms ease-in-out;
}

.header-options li:hover::before{
    transform: scaleX(1);
}

.header-menu-item{
    flex-grow: 1;
    width: 0%;
}

.join-buttons{
    display: flex;
    justify-content: flex-end;
}

.join-buttons button{
    transition: 200ms ease-in-out;
}

.join-buttons button:hover, .join-now-button:hover, .more-button:hover{
    transform: scale(1.1);
    color: #534D4D;
}

.newsletter-button:hover{
    color: #534D4D;
}

button{
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    padding: 1rem 0px;
    width: 12rem;
    background-color: #53900F;
}

.join-buttons button{
    margin-left: 1rem;
}

.free-trail{
    background-color: #A4A71E;
}

/*ABOUT US*/

.about-us{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16rem;
    background-color: #534D4D;
}

.about-us-item{
    height: 100%;
    width: 50%;
}

.about-us-question{
    height: 100%;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.74);
    background-color: #D6CE15;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 3rem;
    padding-left: 5rem;
    position: relative;
}

.about-us-border{
    position: absolute;
    height: 100%;
    width: auto;
    right: 0px;
    transform: translateX(95%);
}

svg{
    height: 100%;
    width: auto;
}

.about-us-answer{
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.74);
    background-color: #534D4D;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
    padding-right: 1em;
}

/*PLAN COMPARISON*/

.plan-comparison{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2605;
    height: 55rem;
    width: 100%;
}

.comparison-card{
    margin: 1rem;
    min-width: 22rem;
    transition: 200ms ease-in-out;
}

.comparison-card:hover{
    transform:translateY(-1rem);
}

.comparison-card.best-card:hover{
    box-shadow: 0px 0px 59px -8px rgba(204,225,67,0.46);
}

.comparison-card.low-card{
    margin-top: 5rem;
}

.card-header{
    background-color: #534D4D;
    text-align: center;
    padding-top: 2rem;
    position: relative;
}

.card-header-border{
    position: absolute;
    height: 100%;
    width: auto;
    content: url(regular_border.svg);
    top: 0px;
    left: 0px;
}

.best-card .card-header-border{
    content: url(regular_border_2.svg);
}


/*
.border-container::before{
    content: url(regular_border_2.svg);
}

.low-card .border-container::before{
    position: absolute;
    content: url(regular_border.svg);
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}
*/

/*
.border-container{
    top: 0px;
    left:0px;
    position: absolute;
    height: 100%;
    width: 14.4%;
}
*/

.card-header .plan-name{
    color: white;
    font-size: 2.8rem;
    font-weight: 500;
    height: 2rem;
}

.card-header .plan-price{
    color: #D6CE15;
    font-size: 6.6rem;
    font-weight: 600;
}

.card-body{
    background-color: white;
}

.card-body .members-benefits{
    text-align: center;
    color: #534D4D;
    padding-top:1rem;
    font-size: 1.7rem;
    font-weight: 500;
}

.underline{
    height: 2px;
    width: 90%;
    background-color: #aca9a9;
    margin: 0.5rem auto;
}

.benefit-container{
    width: 70%;
    margin: 0.5rem auto;
}

.benefit-container .benefit-element{
    padding: 0.8rem;
    color: #8b8686;
    font-size: 1rem;
    font-weight: 400;
}

.benefit-container .benefit-element.active{
    color: #534D4D;
    font-size: 1rem;
    font-weight: 800;
}

.join-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-button-container .join-now-button{
    margin-bottom: 2rem;
    width: 15rem;
    border-radius: 5px;
    transition: 200ms ease-in-out;
}

.best-choice-container div{
    position: absolute;
}

.best-choice{
    background: url('best-choice.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 5rem;
    width: 100%;
    top: 0px;
    right: 0px;
    transform: translateX(95px) translateY(-20%);
}

/*BLOG*/

.blog{
    display: grid;
    /*grid-template-columns: repeat(2, 1fr);*/
    grid-template-columns: repeat(auto-fill, 30rem);
    column-gap: 1rem;
    row-gap: 1rem;
    display: grid;
    width: 85vw;
    margin: auto;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.blog .blog-header{
    grid-column: 1 / -1;
    margin: 1rem 4rem;
    color: #534D4D;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
    justify-self: center;
}

.more-button-division{
    grid-column: 1 / -1;
    margin: 2rem;
    justify-self: center;
}

.blog-entry{
    height: 17rem;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(9,9,121,0.17130602240896353) 71%, rgba(0,212,255,0.3253676470588235) 100%);*/
    cursor: pointer;
    position: relative;
}

.blog-entry .diffuse-background{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(96,212,45,0.12648809523809523) 72%, rgba(255,244,0,0.2721463585434174) 100%);
    opacity: 0;
    transition: 200ms ease-in-out;
}

.blog-entry .diffuse-background:hover{
    opacity: 1;
}

.entry-img-container{
    height: 17rem;
    width:  17rem;
}

.entry-text{
    padding: 1rem;
}

.entry-text .entry-title{
    color: #0F9071;
    font-size: 1.5rem;
    font-weight: 500;
}

.entry-text .entry-description{
    color: #534D4D;
    font-size: 1rem;
    font-weight: 300;
}

.entry-text .read-more{
    color: #53900F;
    font-size: 1rem;
    font-weight: 500;
}

.more-button{
    transition: 200ms ease-in-out;
}

/*SHAPPE APP*/

.shape-app{
    height: 30vw;
    width: 100%;
    background-color: #534D4D;
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
}

.shape-app-header-logo{
    position: absolute;
    height: 10rem;
    width: 10rem;
    top: 0px;
    left:0px;
    padding: 2rem;
}

.shape-app-topic-image{
    height: 100%;
    width: 0px;
    flex-grow: 1;
    background: url('image-app.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    overflow: hidden;
}

.shape-app-content{
    height: 100%;
    width: 0px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.shape-app-content-text{
    padding-left:7rem;
    width: 40rem;
}

.content-text-header{
    font-weight: 500;
    font-size: 2.5rem;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.74);
    color: white;
}

.content-text-answer{
    padding-top: 1rem;
    font-weight: 400;
    font-size: 1rem;
    color: white;
}

.content-icon{
    height: 3rem;
    width: 3rem;
}

.content-icon-text{
    color: white;
    text-align: center;
    margin: 0.5rem;
}

.shape-app-content-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 30rem;
}

/*NEWSLETTER*/

.newsletter{
    background-color: #D6CE15;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0px;
}

.newsletter-header{
    color: #534D4D;
    font-weight: 500;
    font-size: 2rem;
}

.newsletter-text{
    color: #534D4D;
    font-weight: 400;
    font-size: 1.2rem;
}

.newsletter-input{
    border: none;
    border-radius: 0px;
    outline: none;
    font-size: 1.5rem;
    height: 3rem;
    padding: 0px 1rem;
    margin: 0px;
}

button.newsletter-button{
    border-radius: 0px;
    font-size: 1.5rem;
    height: 3rem;
    padding: 0px 1rem;
    margin: 0px;
    background-color: #A4A71E;
    transition: 200ms ease-in-out;
}

.newsletter-form{
    margin: 0px;
    padding: 1rem 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*BOTTOM FOOTER*/

.bottom-footer{
    background-color: black;
    height: 35rem;
}

.bottom-footer-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem;
}

.footer-item{
    width: 50%;
}

.footer-logo-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footer-menu-nav{
    color: rgb(167, 164, 164);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-weight: 400;
}

.footer-menu-nav div{
    padding: 1rem 0px;
}

.footer-menu-nav div.active{
    font-weight: 700;
    color: white;
}

.nav-container-element, .footer-icon{
    transition: 100ms ease-in-out;
    cursor: pointer;
}

.nav-container-element:hover, .footer-icon:hover{
    transform: scale(1.1);
}


.footer-menu-nav-container{
    margin: 0px 3rem;
}

.footer-contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-us{
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.footer-icon{
    height: 2rem;
    margin: 0px 1rem;
}

/*RESPONSIVE*/

@media (max-width: 1600px){

    .shape-app-header-logo .logo{
        width: 10rem;
    }

    .content-text-header{
        font-size: 2rem;
    }

    .content-text-answer{
        font-size: 1rem;
    }

    .shape-app-content-text{
        padding-left: 1rem;
    }
}

@media (max-width: 1450px){
    .about-us-question{
        padding-left: 0.5rem;
        font-size: 2.3rem;
    }

    .about-us-answer{
        font-size: 1.2rem;
    }

    .about-us{
        height: 10rem;
    }
}

@media (max-width: 1200px){

    .newsletter-input{
        font-size: 1.2rem;
        height: 2rem;
        padding: 0px 1rem;
    }

    button.newsletter-button{
        font-size: 1.2rem;
        height: 2rem;
        padding: 0px 1rem;
    }

                /*SHAPPE APP*/

                .shape-app{
                    height: auto;
                    flex-direction: column;
                    }
                
                    .shape-app-header-logo{
                        position: relative;
                        margin: auto;
                        width: 100%;
                        padding: 1em 0px 0px 0px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: auto;
                    }
                
                    .shape-app-content{
                        height: 100%;
                        width:100%;
                        flex-grow: 0;
                        padding: 1rem;
                        justify-content: flex-start;
                        flex-direction: column;
                    }
                
                    .shape-app-content-text{
                        padding:0px;
                        width: 100%;
                    }
                
                    .content-text-header{
                        font-size: 1rem;
                        text-align: center;
                    }
                
                    .content-text-answer{
                        padding-top: 0.5em;
                        font-size: 0.8em;
                        text-align: center;
                    }
                
                    .shape-app-content-images{
                        padding-top: 1em;
                        flex-direction: column;
                        justify-content: initial;
                        align-items:center;
                        display: grid;
                        grid-template-columns: 30%;
                        grid-auto-rows: minmax(0.5em, auto);
                        grid-gap: 0.5em;
                        grid-template-areas: 
                        "icon icon2 icon3"
                        "text text2 text3"
                        ;
                        width:100%;
                    }
                
                    .content-icon1{
                        grid-area: icon;
                    }
                
                    .content-icon2{
                        grid-area: icon2;
                    }
                
                    .content-icon3{
                        grid-area: icon3;
                    }
                
                    .content-icon-text1{
                        grid-area: text;
                    }
                
                    .content-icon-text2{
                        grid-area: text2;
                    }
                
                    .content-icon-text3{
                        grid-area: text3;
                    }
                
                    .content-icon{
                        height: 2em;
                        width: 2em;
                        margin: auto;
                    }
                
                    .content-icon-text{
                        font-size: 0.8em;
                    }
                
                    .shape-app-topic-image{
                        display: none;
                    }
                


    .content-text-header{
        font-size: 1.2rem;
    }

    .content-text-answer{
        font-size: 1rem;
    }

    .logo{
        width: 10rem;
    }

    .header-options{
        font-size: 1rem;
    }

    button{
        font-size: 1rem;
        width: 7rem;
    }

    .about-us-question{
        padding-left: 0.5rem;
        font-size: 1.5rem;
    }

    .comparison-card{
        margin: 0.5rem;
        min-width: 15rem;
    }

    .card-header{
        padding-top: 1rem;
    }

    .card-header .plan-name{
        font-size: 1.5rem;
        height: auto;
    }
    
    .card-header .plan-price{
        font-size: 2.5rem;
    }

    .card-body .members-benefits{
        font-size: 1rem;
    }

    .benefit-container .benefit-element, .benefit-container .benefit-element.active{
        padding: 0.3rem;
        font-size: 0.9rem;
    }

    .join-button-container .join-now-button{
        width: 70%;
        font-size: 0.8em;
    }

    .best-choice{
        display: none;
    }

    .blog{
        grid-template-columns: repeat(auto-fill, 25rem);
        width: 95vw;
    }

    .blog-entry{
        width: 25rem;
    }

    .entry-img-container{
        height: 13rem;
        width:  13rem;
    }

    .entry-text .entry-title{
        font-size: 1.2rem;
    }

    .entry-text .entry-description, .entry-text .read-more{
        font-size: 1rem;
    }

}

@media (max-width: 860px){

        /*PLAN COMPARISON*/

        .plan-comparison{
            flex-direction: column;
            height: 60rem;
            width: 100%;
        }
    
        .comparison-card{
            margin: 1.4em 0px;
            min-width: 90%;
        }
    
        .comparison-card.low-card{
            margin:0px;
        }
    
        .card-header{
            text-align:end;
            padding:  0.5rem 0px;
            position: relative;
        }
    
        .card-header .plan-name{
            font-size: 1rem;
            font-weight: 500;
            height: 1rem;
        }
        
        .card-header .plan-price{
            font-size: 2rem;
            font-weight: 600;
        }
        
        .card-header .plan-name, .card-header .plan-price{
            padding-right: 1rem;
        }
        .card-header-border{
            transform-origin:left center;
            transform: scaleX(5);
        }
    
        .card-body .members-benefits{
            padding-top:0.5rem;
            font-size: 1rem;
        }
    
        .benefit-container .benefit-element, .benefit-container .benefit-element.active{
            padding: 2px;
            font-size: 0.7rem;
        }
    
        .join-button-container .join-now-button{
            margin-bottom: 1rem;
            width: 8rem;
        }
    

    .shape-app-topic-image{
        display: none;
    }

    .shape-app-content-images{
        width: auto;
    }

        /*BLOG*/

        .blog{
            grid-template-columns: repeat(auto-fill, 90vw);
            width: 90vw;
        }
    
        .blog .blog-header{
            font-size: 1.2rem;
        }
    
        .blog-entry{
            height: 100%;
            width: 90vw;
            justify-content: start;
        }
    
        .entry-img-container{
            height: 11rem;
            width:  11rem;
        }
    
        .entry-text{
            padding: 0px 1em;
            padding-right: auto;
        }
    
        .entry-text .entry-title{
            font-size: 1.1rem;
        }
    
        .entry-text .entry-description{
            padding-top: 0.5em;
            font-size: 0.8rem;
        }


        
    /*BOTTOM FOOTER*/

.bottom-footer{
    height: auto;
}

.bottom-footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

.footer-item{
    width: 100%;
}

.footer-item.footer-menu-nav{
    width: 90vw;
    padding: 1em 0px;
}

.footer-menu-nav-container{
    margin: 0px 0.5em;
    text-align: center;
}

.footer-menu-nav div{
    padding: 0.5em 0px;
    font-size: 0.8rem;
}

.footer-contact-container{
    padding-bottom: 1rem;
}

.contact-us{
    font-size: 1em;
}

.footer-icon{
    height: 1.2rem;
}


    /*NEWSLETTER*/

    .newsletter{
        padding: 1em 0px;
    }

    .newsletter-header{
        font-size: 2rem;
    }

    .newsletter-text{
        font-size: 1.2rem;
    }

    .newsletter-input{
        font-size: 1.2rem;
        height: 2rem;
        padding: 0px 1rem;
    }

    button.newsletter-button{
        font-size: 1.2rem;
        height: 2rem;
        padding: 0px 1em;
    }

    .newsletter-form{
        padding: 1em 0px;
    }

    button{
        font-size: 1rem;
        padding: 0.5rem 0px;
        width: 7rem;
    }

    .about-us{
        height: 10rem;
        }
    
        .about-us-question{
            font-weight: 500;
            font-size: 1.5rem;
            padding: 1rem;
        }
    
        .about-us-answer{
            font-size: 1rem;
            padding: 1em;
        }

        .header-menu-item{
            flex-grow: 1;
            width: 100%;
        }
    
        .header-menu{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding:0px;
        }
    
        .header-img-container, .join-buttons{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .logo{
            width: 8rem;
            padding-top: 1rem;
        }
    
        .join-buttons .free-trail, .header-options ul{
            margin-left: 0px;
        }
        
        .header-options ul{
            margin-left: 0px;
            padding-left: 0px;
        }
    
        .header-options ul li{
            font-size: 0.8rem;
        }
    
        button{
            font-size: 0.8rem;
            padding: 0.5rem 0px;
            width: 7rem;
        }
    
        .header-img-background{
            height: 15rem;
        }

}

@media (max-width: 666px){
    
        .about-us-question{
            font-weight: 500;
            font-size: 1.2rem;
            padding: 1rem;
        }
    
        .about-us-answer{
            font-size: 0.8rem;
            padding: 1em;
        }

       
}

@media (max-width: 450px){

    .blog-entry{
        justify-content: center;
    }

    /*ABOUT US*/

    .about-us{
    height: 10rem;
    }

    .about-us-question{
        font-weight: 500;
        font-size: 0.8rem;
        padding: 1rem;
    }

    .about-us-answer{
        font-size: 0.7rem;
        padding: 1em;
    }

    /*NEWSLETTER*/

    .newsletter{
        padding: 1em 0px;
    }

    .newsletter-header{
        font-size: 1rem;
    }

    .newsletter-text{
        font-size: 0.8rem;
    }

    .newsletter-input{
        font-size: 0.8rem;
        height: 1.5rem;
        padding: 0px 0.5rem;
    }

    button.newsletter-button{
        font-size: 0.8rem;
        height: 1.5rem;
        padding: 0px 0.5rem;
    }

    .newsletter-form{
        padding: 0.5em 0px;
    }

    
}
